{% extends 'base.html.twig' %}

{% block title %}Controller1Controller | DepassementAction!{% endblock %}

{% block body %}


<div class="example-wrapper">

    {% if (chiffre1 + chiffre2) > 100  %}
        <p>Vous avez depassé la limite</p>
    {% else %}
        <p>Vous atteingez {{ chiffre1 + chiffre2 }} </p>
    {% endif %}

</div>
{% endblock %}
