{% extends 'base.html.twig' %}

{% block title %}Controller1Controller | MoyenneAction!{% endblock %}

{% block body %}


<div class="example-wrapper">

    <p>La moyenne de </p>

    <ul>
        {% for nb in nbs %}
            <li> {{nb}} </li>
        {% endfor %}
    </ul>

    <p>est {{ moyenne }}</p>

</div>
{% endblock %}
